main{
    background-color: #e9e9e9;
    width: 100%;
    padding: 30px;
    min-height: calc(100vh - 30px);
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
main > p{
    font-size: 18px;
}
.cntrTag{
    display: flex;
}
.cntrTag  button{
    margin-top: 30px;
    width: 140px;
    height: 35px;
    font-size: 14px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.cntrTag  button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.listaProdutos{
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.quantidadeDeEstampa{
    margin: 20px 0px;
    font-size: 12px;
    color: gray;
}


.cntrBoxProduto{
    width: 20%;
    padding: 10px;

}

.boxProduto{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.boxPreco img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.boxProduto img{
    width: 100%;
    border-radius: 10px;
}
.labelBoxPreco{
    text-align: center;
    margin-top: 10px;
}
.nomeProduto{
    text-align: center;
    margin-top: 10px;
    max-width: 200px;
    font-size: 16px;
}
.exclusivo{
    font-size: 12px;
    color: rgba(250, 1, 1, 0.6);
}
.produtosQuadro p, .produtosChaveiro p{
    font-size: 30px;
    margin-top: 20px;
}
.produtosQuadro span, .produtosChaveiro span{
    font-size: 18px;
    margin-top: 20px;
}


@media only screen and (max-width: 1070px) {
    .cntrBoxProduto {
        width: 25%;
        padding: 10px;
    }
}
@media only screen and (max-width: 1010px) {
.cntrTag button {
    width: 130px;
}
}
@media only screen and (max-width: 940px) {
    .cntrTag button {
        width: 120px;
        font-size: 12px;
    }
    .nomeProduto {
        font-size: 14px;
    }

}
@media only screen and (max-width: 870px) {
    main {
        background-color: #e9e9e9;
        width: 100%;
        padding: 20px;
        min-height: calc(100vh - 30px);
    }
}
@media only screen and (max-width: 840px) {
    .cntrBoxProduto {
        width: 33%;
        padding: 10px;
    }
}
@media only screen and (max-width: 670px) {
    .cntrBoxProduto {
        width: 50%;
        padding: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .cntrTag  button{
        width: 140px;
        height: 40px;
        font-size: 12px;
        margin-right: 10px;
    }

}
@media only screen and (max-width: 600px) {
    .cntrTag  button{
        font-size: 12px;
        margin-right: 10px;
    }

}